extends layout

block content
    h1 Welcome home, #{data[0].firstName}!

    // Generate playlist based on weather and conditionally show/hide the div with a button click
    span.text Want to generate a new playlist?
    button.toggle(id="generate-playlist" style="background: white; padding-bottom: 5px;") +
    script.
        document.getElementById("generate-playlist").onclick = function () {
            let content = document.getElementById("get-weather-data");
            let btn = document.getElementById("generate-playlist");
            if (content.style.display === "none") {
                content.style.display = "block";
                btn.innerHTML = "-";
            } else {
                content.style.display = "none";
                btn.innerHTML = "+";
            }
        }
    div.get-weather-data(id="get-weather-data")
        form(name="get-data", method="POST")
            div.input
                div
                    span.get-weather-data-text Want us to use your GPS coordinates?
                    input(type="submit", name="use_gps", value="Yes, access my location")
            if data[0].signed_in_with_twitter === false
                div
                    span.get-weather-data-text  OR use your stored location
                    input(type="submit", name="stored_location", value="Use Stored Location")


    // Render spotify playlists and conditionally show/hide the div with a button click
    div
        span.text Check out the playlists you've heard before below
        button.toggle(id="show-playlists", style="background: white; padding-bottom: 5px;") +
            script.
                document.getElementById("show-playlists").onclick = async function () {
                    let content = document.getElementById("get-spotify-data");
                    let btn = document.getElementById("show-playlists");
                    if (content.style.display === "none") {
                        content.style.display = "block";
                        btn.innerHTML = "-";
                    } else {
                        content.style.display = "none";
                        btn.innerHTML = "+";
                    }
                }
        div.get-spotify-data(id="get-spotify-data")
            ul
                if data[0].signed_in_with_twitter === false
                    for content in data[0].spotifyData
                        div(style="display: flex; border: 3px solid grey;")
                            a(href=content.url, style="width: 20%;")
                                img.playlist(src=content.image, href=content.url)
                            div(style="flex: 1 1 auto; font: 18px \"Lucida Grande\", Helvetica, Arial, sans-serif;")
                                p Playlist Name #{content.name}
                                p Playlist Url #{content.url}
                else
                    h2 If you want us to store your playlist record, please sign up an account on our website.





    // Rendering results and showing button that is able to hide it once it's rendered
    div.get-results(id="get-results")
        if showResult
            span.label(style="font: 28px \"Lucida Grande\", Helvetica, Arial, sans-serif; padding: 10px;") Here's the data for your request:
            button(id="hide-results", style="background: white; padding-bottom: 5px;") hide
            script.
                document.getElementById("hide-results").onclick = function () {
                    document.getElementById("get-results").style.display = "none";
                }

            p(style="padding-left: 10px;") It is currently #{weatherData.actualTemp} degrees in #{weatherData.city}.

        if showPlayList
            span.label(style="font: 16px \"Lucida Grande\", Helvetica, Arial, sans-serif; font-weight: bold; padding: 10px;") We think this is the perfect playlist for you based on your local weather:
            div(style="display: flex; margin-top: 10px; border: 3px solid grey;")
                a(href=playListData.url, style="width: 20%;")
                    img.playlist(src=playListData.image, href=playListData.url)
                div(style="flex: 1 1 auto; font: 18px \"Lucida Grande\", Helvetica, Arial, sans-serif;")
                    p Playlist Name #{playListData.name}
                    p Playlist Url #{playListData.url}

        // Renders when there has been an error in querying for the data entered in the form
        if showError
            h1 Whoops, looks like there was an error.
            p Error message: #{errorMessage}
