extends layout

block content
  h1= title
  // Form that takes the user's information
  form(name="get-data", method="POST")
    div.input
      span.label Want us to use your GPS coordinates?
      input(type="submit", name="use_gps", value="Yes, access my location")
    div
      h3 Otherwise, fill out the following form
    div.input
      span.label Please enter your city name:
      input(type="text", name="city")
    div.input
      span.label OR your zip code:
      input(type="text", name="zip")
    div.input
      input(type="submit", value="submit")

  // Renders when information has been entered in the form above and once the form has been submitted
  if showResult
    h1 Here's the data for your request:
    p You searched for #{data.city}.
    p It is currently #{data.actualTemp} degrees outside, and feels like #{data.feelsLikeTemp}.
    p The weather conditions are:
    p #{data.weather[0].main} – #{data.weather[0].description}

  if showPlayList
    h1 This is the playlist we found for you based on the weather at your location:
    p name of playlist: #{playListData.playList_name}
    p Here's the <a href=#{playListData.playList_url}>link</a> to the playlist

  // Renders when there has been an error in querying for the data entered in the form
  if showError
    h1 That's an invalid city name or zip code, please try again.
    p Error message: #{errorMessage}